.product-card {
  width: 400px;
  height: 600px;
  background-color: whitesmoke;
  box-shadow: 16px 13px 5px -2px rgba(0, 14, 9, 0.75);
  -webkit-box-shadow: 16px 13px 5px -2px rgba(0, 14, 9, 0.75);
  -moz-box-shadow: 16px 13px 5px -2px rgba(0, 14, 9, 0.75);
  border-radius: 8px;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.product-content {
  padding: 16px;
}

main {
  padding-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 32px;
  width: fit-content;
  margin: auto;
}
